# HealthBit Data Analyst Case

**Author**: Victor de Paula Silva

**Email**: victor.depaula@live.com / victordepaula24@gmail.com

## Preparing Environment

### Auxiliary Libraries
To work with data, Python provides us with some very useful tools:

- Pandas: A library that works with reading, processing, and manipulating data, usually in a tabular or sequential form (lists or tables).
- Numpy: A library for scientific computing, it helps us manipulate vectors, matrices, and perform mathematical operations on data.
- Matplotlib: Matplotlib is a library that helps us create graphical visualizations of data.
- Seaborn: Seaborn is an additional layer for Matplotlib, allowing us to create more complex and beautiful graphics.
- Warnings: It is just a library for removing execution warnings (to avoid cluttering our study).
- Sys: The sys module provides access to some variables used or maintained by the Python interpreter, and functions that interact with the interpreter, such as accessing command line arguments.
- OS: The os module provides a portable way of using operating system dependent functionality, such as reading or writing to the file system, manipulating paths, and interacting with the system environment variables.

In [ ]:
# Installing libraries
!pip install openpyxl

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import sys
import os

In [2]:
# Python version
print(sys.version)

3.10.0 (tags/v3.10.0:b494f59, Oct  4 2021, 19:00:18) [MSC v.1929 64 bit (AMD64)]

### Settings

In [7]:
# Ignoring warnings
warnings.filterwarnings("ignore")

In [8]:
# Setting Matplotlib figure patterns
plt.rcParams['figure.figsize'] = (17, 10) # Size of the figures in inches
plt.rcParams['axes.titlepad'] = 30 # Title padding

In [9]:
# Setting Seaborn collor pallete
sns.set_palette("Accent") # Color palette
sns.set_style("whitegrid") # Graph style
sns.set(font_scale=1.5) # Setting the font size

In [10]:
# Setting numerical values on Pandas
pd.set_option('display.float_format', lambda x: '%.2f' % x) # Formatting to 1000000.00 for example

## Data Preparation & Cleaning

In [12]:
# Setting file path
file_path = r'C:\Users\Victor Paula\Documents\Personal\healthbit_data_analyst_case\Database'

# Listing files on path
files = os.listdir(file_path)
files

['cadastro_base.xlsx', 'sinistros_base.xlsx']

In [13]:
# Importing files and creating dataframes

# Dictionary to store dataframes
dataframes = {}

# Iterate over each file
for file in files:
    # Extracting dataframe name for file name
    dataframe_name = file.split('.')[0]
    # Reading Excel file and creating dataframe
    dataframe = pd.read_excel(os.path.join(file_path, file))
    # Storing dataframe in dictionary
    dataframes[dataframe_name] = dataframe

# Accessing dataframes by name
cadastro_base = dataframes['cadastro_base']
sinistros_base = dataframes['sinistros_base']

In [15]:
# Visualizing cadastro_base dataframe
cadastro_base.head()

,MÊS DE REFERÊNCIA,ANO DE REFERÊNCIA,CODIGO DA FAMILIA,CODIGO ÚNICO DA PESSOA,PLANO,TITULARIDADE,SEXO,IDADE,DATA DE NASCIMENTO,FAIXA ETÁRIA
0,5,2020,314,844,Básico,TITULAR,M,20,16/02/2000,19-23
1,5,2020,46,71,Básico,TITULAR,M,44,21/04/1976,44-48
2,5,2020,123,196,Básico,TITULAR,M,55,20/09/1964,54-58
3,5,2020,114,187,Básico,TITULAR,M,36,21/07/1983,34-38
4,5,2020,52,87,Básico,TITULAR,M,47,15/07/1972,44-48

In [17]:
# Informations of cadastro_base dataframe
cadastro_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16736 entries, 0 to 16735
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MÊS DE REFERÊNCIA       16736 non-null  int64
 1   ANO DE REFERÊNCIA       16736 non-null  int64
 2   CODIGO DA FAMILIA       16736 non-null  int64
 3   CODIGO ÚNICO DA PESSOA  16736 non-null  int64
 4   PLANO                   16736 non-null  object
 5   TITULARIDADE            16736 non-null  object
 6   SEXO                    16736 non-null  object
 7   IDADE                   16736 non-null  int64
 8   DATA DE NASCIMENTO      16736 non-null  object
 9   FAIXA ETÁRIA            16736 non-null  object
dtypes: int64(5), object(5)
memory usage: 1.3+ MB

In [16]:
# Visualizing sinistros_base dataframe
sinistros_base.head()

,DATA DE REFERENCIA,CODIGO DO EVENTO,FONTE,PLANO,TITULARIDADE,CODIGO DA FAMILIA,CODIGO ÚNICO DA PESSOA,DATA DO EVENTO,PRESTADOR,VALOR DO EVENTO,DESCRITOR DO EVENTO,INTERNACAO?
0,01-05-2020,10101012,REDE,Básico,DEPENDENTE,184,418,13/03/2020,256,64.02,CONSULTA MEDICA EM CONSULTORIO,Não
1,01-05-2020,10101012,REDE,Básico,DEPENDENTE,198,421,17/03/2020,256,65.20,CONSULTA MEDICA EM CONSULTORIO,Não
2,01-05-2020,10101012,REDE,Básico,TITULAR,199,502,13/03/2020,256,65.20,CONSULTA MEDICA EM CONSULTORIO,Não
3,01-05-2020,10101012,REDE,Básico,TITULAR,199,502,18/03/2020,256,65.20,CONSULTA MEDICA EM CONSULTORIO,Não
4,01-05-2020,10101012,REDE,Básico,TITULAR,199,502,08/04/2020,1332,103.00,CONSULTA MEDICA EM CONSULTORIO,Não

In [18]:
# Informations of sinistros_base dataframe
sinistros_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48965 entries, 0 to 48964
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATA DE REFERENCIA      48965 non-null  object
 1   CODIGO DO EVENTO        48965 non-null  int64
 2   FONTE                   48965 non-null  object
 3   PLANO                   48965 non-null  object
 4   TITULARIDADE            48965 non-null  object
 5   CODIGO DA FAMILIA       48965 non-null  int64
 6   CODIGO ÚNICO DA PESSOA  48965 non-null  int64
 7   DATA DO EVENTO          48965 non-null  object
 8   PRESTADOR               48965 non-null  int64
 9   VALOR DO EVENTO         48965 non-null  float64
 10  DESCRITOR DO EVENTO     48965 non-null  object
 11  INTERNACAO?             48965 non-null  object
dtypes: float64(1), int64(4), object(7)
memory usage: 4.5+ MB

### Preliminary information

- Both dataframes have all information complete, without missing values;
- Only the date columns need to be transformed, as they are not in datetime format, but the others are in the correct data type, either int, float, or object/string.

## Exploratory Analysis & Visualization

## Questions & Answers (Q&A)

## Summary & Conclusion